// ------- Dimensions -------
$site-min-width: 970px;
$site-min-height: 600px;
$maxWidth : 1200px;

// Breakpoints
$breakpt-max : 1600px; //992px;
$breakpt-med : 992px; //768px;
$breakpt-sml : 767px; //480px;


// Colors
$highlightColor : #f2c51d;

$bkgdColor : #f3e8f8;

// Animations 
$hovertime : 100ms;
$s-fast : 100ms;
$s : 250ms;
$s-med : 350ms;

