.app {

}

#simplifyapp {
	width: 100%;
	position: relative;
	margin: auto;
	max-width: 600px;
	min-height: 600px;
	margin-bottom: 100px;
}

canvas {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: auto;
	background: RGBA(255,255,255,0);
	background: transparent;
	
	@include borderBox;

	width: 100%;
	height: 100%;
}


#origin-hidden-canvas {

}

#visible-canvas {
	border: 1px solid #333;
}

#simplifyapp {

	&.empty {
		#visible-canvas {
			border: 3px dashed #333;
			background-image: url("../imgs/ui/canvas-cta.svg");
			background-repeat: no-repeat;
			background-size: 300px auto;
			background-position: 50%;
		}
	}

	&.touchdevice {
		#visible-canvas {
			background-image: none !important;
		}	
	}

	&.nosupport {
		#visible-canvas {
			border: 1px solid #333;
			background-image: url("../imgs/ui/error.svg");
			background-size: 50px auto;
		}
	}
}



#banner-bar {
	position: relative;
	margin: 0px;
	padding: 20px 0px;
	width: 100%;
	background: #000;
	background-image: url("../imgs/ui/chevron-banner.svg");
	background-position: 50% 0%;
	background-size: 230px auto;
	background-repeat: no-repeat;

	min-height: 400px;

	p {
		color: #fff;
		max-width: 800px;
	}

	a {
		color: #fa0058;
	}
	ul {
		overflow: hidden;
		width: 100%;
		margin: auto;
		max-width: 800px;

		li {
			cursor: pointer;
			@include borderBox;
			width: 33.333%;
			float: left;
			display: inline-block;
			border: 1px solid #000;
			
			p {
				margin: auto;
				padding: 20px 0px 20px;
			}

			.img {
				width: 100%;
				height: 250px;
				background-color: #fff;
			}
		}
	}
}

@import "app.med";
@import "app.sml";