@media screen and (max-width: $breakpt-sml) {

	#simplifyapp {
		min-height: 400px;
	}

	#simplifyapp.empty {
		#visible-canvas {
			background-size: 90% auto;
		}
	}

	#banner-bar {
		ul {
			li {
				float: none;
				width: 95%;
				margin: auto;
				display: block;
			}
		}
	}


.gallery-wrapper { 
	ul {
		width: 90%;
		margin: auto;
		li {
			width: 90%;
			margin-left: auto;
			margin-right: auto;
			display: block;
			height: auto;
			
			h4 {
				padding-bottom: 25px;
			}
			p {
				position: relative;
			}

			.img {
				width: 100%;
				height: 200px;
			}
		}
	}
}

}