@media screen and (max-width: $breakpt-med) {
.app{
	
}

.gallery-wrapper { 
	ul {
		width: 90%;
		margin: auto;
		
		li {
			width: 33.33%;

			.img {
				width: 100%;
				height: 175px;
			}
		}
	}
}

}