@media screen and (max-width: $breakpt-med) {

.header {
	.logo {
		width: 90%;
		margin: auto;
	}
}

.footer {
	.footer-content {
	}
	a {
		width: 25%;
	}
	.universal, .huge, .site, .email {
		width: 20%;
		margin: 2.5%;
	}

}

}

@media screen and (max-width: $breakpt-sml) {

.export-wrapper {
	width: 90%;
	margin: auto;
}

.footer {
	height: auto;
	overflow: hidden;
	.footer-content {
		height: auto;
		display: block;
	}
	a {
		&.universal, &.huge, &.site, &.email {
			height: 40px;
			float: none;
			padding: 10px 0px;
			margin: 0px 10%;
			display: block;
			width: 80%;
			max-width: 275px;
			margin: auto;
			position: relative;
			margin-bottom: 44px;
		}
	}
}

}